<nav class="my-3">
  <h1 class="text-center mx-4 my-2">Todo List By <small class="text-muted">Ayush som</small></h1>
  <div class="nav nav-tabs position-absolute start-50 translate-middle my-4" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
      role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
      role="tab" aria-controls="nav-profile" aria-selected="false">About</button>
  </div>

</nav>
<!-- <h1 class= "display-6 text-center">TodoList By <small class="text-muted">Ayush som</small></h1> -->
<div class="tab-content my-5" id="nav-tabContent">
  <div class="tab-pane fade show active container" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <app-todos></app-todos>
  </div>
  <div class="tab-pane fade my-8" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <app-about></app-about>
  </div>
</div>


<!-- <router-outlet></router-outlet> -->